@charset "utf-8";
/* CSS Document */
#menu{
	text-align: center;
	font-size: 25px;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}
#menu>ul{
  float: left;
	background-color: aqua;
	border-radius: 15px;
	padding-left: 0px;
	margin: 5px;
	padding: 10px;
}

#menu>ul>li {
margin-top: 10px;
list-style: none;
	border-color: chartreuse;
}